
@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>За данное обращение уже взялись!</h4>
    </div>

</div>
