
@{
      Layout=null;
}

    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Запрос выполнен!</h4>
        </div>

    </div>

